<nav>
  <div class="nav--inner">
    <header>J220</header>

    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="/about">About</a></li>
    </ul>
  </div>
</nav>
